.container{
    background: #3a4f63;
    height: 50px;
}
.container li{
    list-style-type: none;
    background-color: white;
}
.container>li{
    margin-top: 10px;
    display: inline-block;
    float: left;
    border: 1pt solid black;
}
.container li li{
    margin: 5px 0 0 -2.5em;
}
.container li:hover{
    background: #92BADB;
}
.container li:hover>a{
    color: #465c71;
}
.container li ul{
    display: none;
    position: absolute;
    border: solid;
    margin-left: -0.1em;
}
.container li:hover ul{
    display: block;
    text-align: left;
}
.container a{
    text-decoration: none;
    padding: 5px 15px;
    text-align: left;
    display: block;
    color: #bfcbd6;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

