
input[type=date]{
    position: absolute;
    left: 40%;
}
input[type=text]{
    width: 60%;
    position: absolute;
    right: 0;
}
fieldset{
    width: 500px;
    padding: 20px;
    float: left;
}
form div{
    position: relative;
    padding-block: 15px;
}
.error{
    position: absolute;
    left: 40%;
    color: red;
}
label[name = main]{
    display: inline-block;
    width: 40%;
}
.show input{
    border: none;
}
.show div{
    position: relative;
    padding-bottom: 0%;
}